html
  head
    title Firebase + reCAPTCHA
    script(src='https://www.google.com/recaptcha/api.js', async='', defer='')
    script(defer='', src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script(defer='', src='/assets/js/bundle.js')

    script(type='text/javascript').
      function dataCallback(response) {
      console.log("dataCallback", response)
      window.location.href = "/check_recaptcha?response=" + encodeURIComponent(response)
      }
      function dataExpiredCallback() {
      console.log("dataExpiredCallback")
      }
  body
    .g-recaptcha(data-sitekey='6Le0o-oUAAAAAHwvyOjfPATjU4DijvXiJoQ6xRvr', data-callback='dataCallback', data-expired-callback='dataExpiredCallback')
    //- .recap
    //-   script(src='https://www.google.com/recaptcha/api.js?render=6Le0o-oUAAAAAHwvyOjfPATjU4DijvXiJoQ6xRvr', defer='')
    p
      a(href="http://localhost:5000/check_recaptcha?response=6Le0o-oUAAAAAHwvyOjfPATjU4DijvXiJoQ6xRvr")
        | request