doctype html
html(lang="ja")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Welcome to My Portfolio
    script(defer='', src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')

    // update the version number as needed
    script(defer='', src='/__/firebase/7.14.0/firebase-app.js')
    // include only the Firebase features as you need
    script(defer='', src='/__/firebase/7.14.0/firebase-auth.js')
    script(defer='', src='/__/firebase/7.14.0/firebase-database.js')
    script(defer='', src='/__/firebase/7.14.0/firebase-messaging.js')
    script(defer='', src='/__/firebase/7.14.0/firebase-storage.js')
    // initialize the SDK after all desired features are loaded
    script(defer='', src='/__/firebase/init.js')

    script(defer='', src='/assets/js/bundle.js')

    script.
      document.addEventListener('DOMContentLoaded', function() {
      // // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
      // // The Firebase SDK is initialized and available here!
      //
      // firebase.auth().onAuthStateChanged(user => { });
      // firebase.database().ref('/path/to/ref').on('value', snapshot => { });
      // firebase.messaging().requestPermission().then(() => { });
      // firebase.storage().ref('/path/to/ref').getDownloadURL().then(() => { });
      //
      // // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
      try {
      let app = firebase.app();
      let features = ['auth', 'database', 'messaging', 'storage'].filter(feature => typeof app[feature] === 'function');
      document.getElementById('load').innerHTML = `Firebase SDK loaded with ${features.join(', ')}`;
      } catch (e) {
      console.error(e);
      document.getElementById('load').innerHTML = 'Error loading the Firebase SDK, check the console.';
      }
      });

  body.top
    header.header
      a.mv(href="#message", title="skip to message")
        svg.mv__img(xmlns='http://www.w3.org/2000/svg', width='210', height='642.833', viewBox='0 0 210 642.833')
          g.s(transform='translate(-855.5 -227.667)')
            g.s3(transform='translate(929.476 737.156)', fill='none')
              path(d='M30.748,0,61.365,66.608,30.748,133.344.468,66.608Z', stroke='none')
              path.s3_main(d='M 30.77855110168457 14.43193817138672 L 7.058174133300781 66.61080169677734 L 30.7785587310791 118.8892440795898 L 54.76255798339844 66.61081695556641 L 30.77855110168457 14.43193817138672 M 30.7483959197998 0 L 61.36494064331055 66.60843658447266 L 30.7483959197998 133.3439636230469 L 0.4683723449707031 66.60843658447266 L 30.7483959197998 0 Z', stroke='none', fill='#ebedf1')
            g.s2(transform='translate(855.032 227.667)', fill='none')
              path(d='M104.888,0l105.58,229.7L104.888,459.833.468,229.7Z', stroke='none')
              path.s2_main(d='M 104.9182052612305 14.43191528320313 L 7.058181762695313 229.6995544433594 L 104.9182205200195 445.3778991699219 L 203.865966796875 229.6995849609375 L 104.9182052612305 14.43191528320313 M 104.888069152832 -3.0517578125e-05 L 210.4683837890625 229.6972045898438 L 104.888069152832 459.8326416015625 L 0.4683837890625 229.6972045898438 L 104.888069152832 -3.0517578125e-05 Z', stroke='none', fill='#ebedf1')
            g.s1(transform='translate(907.164 572.445)', fill='none')
              path(d='M52.937,0l53.052,115.418L52.937,231.055.468,115.418Z', stroke='none')
              path.s1_main(d='M 52.96703338623047 14.43194580078125 L 7.058181762695313 115.4199752807617 L 52.96704483032227 216.6006774902344 L 99.38619995117188 115.4199905395508 L 52.96703338623047 14.43194580078125 M 52.93687438964844 -1.52587890625e-05 L 105.9885864257813 115.4175872802734 L 52.93687438964844 231.0553741455078 L 0.4683761596679688 115.4175872802734 L 52.93687438964844 -1.52587890625e-05 Z', stroke='none', fill='#ebedf1')
      h1.mv__title
        span.mv__title__txt My Portfolio

    .container
      .side
        button.sp-menu-toggle menu toggle
        nav
          ul.sp-menu-panel
            li
              a(href='/reset-preview.html') menu1
            li menu2
            li menu3
            li menu4
      main.main
        section#message
          h2 🔥Welcome🔥
          p
            | You're seeing this because you've successfully setup Firebase Hosting. Now it's time to go build something extraordinary!
          a(target='_blank', href='https://firebase.google.com/docs/hosting/') Open Hosting Documentation
          p#load Firebase SDK Loading…
        include ../front_secret/works.pug
        include ../front_secret/voice.pug
    footer.footer
      .back-to-top
        a.back-to-top__link(href="#")
          img.back-to-top__link__img(src="/assets/img/back_to_top.svg", alt="back to top")
      p
        | このポートレートサイトのリポジトリは、
        a(href="https://github.com/eirblaze/my_portfolio") GitHub
        | にてご確認いただけます。
